
/* Vista inicial */
#inicio {
	background-image: url("../images/vortex_ring.gif");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#scroll {
	position: absolute;
	bottom: 15%;
	width: 100px;
	left: calc(50% - 50px);
	cursor: pointer;
}
#title {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}