
/* Vista inicial */
#inicio {
	background-image: url("../images/vortex_ring.gif");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#scroll {
	position: absolute;
	bottom: 15%;
	width: 100px;
	left: calc(50% - 50px);
	cursor: pointer;
}
#title {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.reference {
	text-align: right;
	opacity: 0.8;
}

.reference img {
	width: 10px;
}

.reference span {
	text-transform: none;
	font-size: 10px;
	margin-left: 5px;
	margin-right: 10px;
}