#simulation {
	background-image: url("../images/two_vortex_rings.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#empty-h2 {
	background-color: black;
	width: inherit;
    height: 76.8px;
    margin: 80px 0;
}

#sliders {
	display: grid;
	grid-template-columns: auto auto auto;
	width: 500px;
    margin: auto;
}

#buttons {
	display: grid;
	grid-template-columns: auto auto;
	width: 500px;
    margin: auto;
}

iframe {
	width: 50%;
	height: inherit;
	border: 0;
}

button {
    margin: 10px;
    border-radius: .25em;
    border: 1px solid transparent;
    line-height: 1.5;
    font-size: 1rem;
    user-select: none;
    transition: 
        color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
}

button:hover {
    background-color: #d4d4d4;
}

button:focus {
    border: none;
    outline: none;
}

